#landing-page {
  background-image: url(https://media.istockphoto.com/id/1451309426/id/foto/pengembang-perangkat-lunak-wanita-muda-asia-menggunakan-komputer-untuk-menulis-kode-duduk-di.jpg?s=612x612&w=0&k=20&c=v9iaQCXp-vc8mxaxfcvSRBcsTi8YFt0x-OVv09koCLo=);
  height: 500px;
  position: fixed;
}
